<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @registrant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @registrant.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @registrant.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @registrant.email %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @registrant.affiliation %>
</p>

<p>
  <b>Monday symposium:</b>
  <%= @registrant.monday_symposium %>
</p>

<p>
  <b>Tuesday symposium:</b>
  <%= @registrant.tuesday_symposium %>
</p>

<p>
  <b>Monday breakfast:</b>
  <%= @registrant.monday_breakfast %>
</p>

<p>
  <b>Monday lunch:</b>
  <%= @registrant.monday_lunch %>
</p>

<p>
  <b>Tuesday breakfast:</b>
  <%= @registrant.tuesday_breakfast %>
</p>

<p>
  <b>Tuesday lunch:</b>
  <%= @registrant.tuesday_lunch %>
</p>

<p>
  <b>Special needs:</b>
  <%= @registrant.special_needs %>
</p>


<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Back', registrants_path %>
