<% title "Abstracts #{"matching keyword: #{params[:keyword]}" if params[:keyword]}#{ "matching query: params[:query]" if params[:query] }- #{event_title}" %>
<section id='abstracts'>
  <%= content_tag :p, link_to("Submit or edit an abstract", new_attendee_session_url, :class => "btn btn-large btn-success"), :class => 'pull-right' if Time.now < abstract_deadline %></p>
  <h1>Abstracts <%= "matching keyword: #{params[:keyword]}" if params[:keyword] %><%= "matching query: #{params[:query]}" if params[:query] %></h1>

  <div class='alert alert-info'>
    The abstract assignments have been finalized – June 17, 2013.  No further changes will be made: <%= link_to 'Abstract Assignments', asset_path('abstract_assignments.xlsx') %>
  </div>
  
  <div class='alert alert-info'>
	  The changes to the abstract assignments can be seen here. <%= link_to 'Program Errata', asset_path('program_errata.docx') %>
	  </div>
  
  <%= content_tag(:h3, "No abstracts", :class => :alert) if @abstracts && @abstracts.empty?  %>
  
  <% @abstracts.each do |abstract| %>
    <article class="abstract" id="abstract_<%= abstract.id %>">
    	<p>
    	  <%=link_to "#{abstract.title}", "#abstract_body_#{abstract.id}", :class => "accordion-toggle", 'data-toggle' => "collapse", 'data-parent' => "#abstracts" %>,
    	  <b><%= abstract.authors.gsub(/ \^[0-9,†]*\^/,'') %></b>.
    	  <%= abstract.affiliations %><br />
        <%= raw "#{content_tag(:b, 'Poster Number:')} #{abstract.poster_number}, " if abstract.session && !abstract.session.include?('Oral') %>
        <%= raw "<b>Session:</b> #{abstract.session}" if abstract.session %>
    	</p>
        <div class="accordion">
            <%= render :partial => "abstract_body", :locals => {:abstract => abstract} %>
        </div>
    </article>
  <% end %>
  
  <%= paginate @abstracts, :window => 2 %>
  
  <%- content_for :right do -%>

    <section id="keyword_cloud">
      <h1>Search</h1>
      <%= form_tag friendly_url_for_search_abstracts_path(params[:query]), method: :get do %>
        <div class="control-group">
          <%= text_field_tag :query, params[:query], :class => 'input', :placeholder => '' %>
        </div>
      <% end %>
      <h1>Keyword Cloud</h1>
      <% tag_cloud(@keywords, %w(css1 css2 css3 css4 css5 css6 css7)) do |k, css_class| %>
        <%= link_to raw(k.name + "<sup>#{k.count}</sup>"), keyword_abstracts_url(:keyword => k.name), :class => "#{css_class}" %>
      <% end %>
    </section>
  <%- end -%>  
</section>