<section id='abstracts'>
  <p class='pull-right'><%= link_to "Submit or edit an abstract", new_attendee_session_url, :class => "btn btn-large btn-success" %></p>
  <h1>Abstracts <%= "matching keyword: #{params[:keyword]}" if params[:keyword] %><%= "matching query: #{params[:q]}" if params[:q] %></h1>
  
  <%= content_tag(:h3, "No abstracts", :class => :alert) if @abstracts && @abstracts.empty?  %>
  
  <% @abstracts.each do |abstract| %>
    <article class="abstract" id="abstract_<%= abstract.id %>">
    	<p>
    	  <%=link_to "#{abstract.title}", "#abstract_body_#{abstract.id}", :class => "accordion-toggle", 'data-toggle' => "collapse", 'data-parent' => "#abstracts" %>,
    	  <b><%= abstract.authors.gsub(/ \^[0-9,†]*\^/,'') %></b>.
    	  <%= abstract.affiliations %>
    	</p>
        <div class="accordion">
            <%= render :partial => "abstract_body", :locals => {:abstract => abstract} %>
        </div>
    </article>        
  <% end %>
  
  <%= paginate @abstracts, :window => 2 %>
  
  <%- content_for :right do -%>

    <section id="keyword_cloud">
      <h1>Keyword Cloud</h1>
      <% tag_cloud(@keywords, %w(css1 css2 css3 css4 css5 css6 css7)) do |k, css_class| %>
        <%= link_to k.name, keyword_abstracts_url(:keyword => k.name), :class => "#{css_class}" %>
      <% end %>
    </section>
  <%- end -%>
  
</section>
