<section class='page'>
  
  <h1>Welcome</h1>

  <p>The  14th UC Systemwide Bioengineering Symposium in 2013 will take place on the campus of UC San Diego.  You are cordially invited to participate, establish collaborations, renew old and make new friendships. There will be exciting speakers as well as many opportunities for students to present posters, give flat screen posters and oral presentations.  Organized by the <%= link_to 'Jacobs School of Engineering', 'http://www.jacobsschool.ucsd.edu/' %> (<%= link_to 'JSOE', 'http://www.jacobsschool.ucsd.edu/' %>), <%= link_to 'Institute of Engineering in Medicine', "https://iem.ucsd.edu" %> (<%= link_to 'IEM', 'https://iem.ucsd.edu' %>), and <%= link_to "Department of Bioengineering", "http://be.ucsd.edu" %>.</p>
  

  <p>Registration and abstract submission is now <span class='alert-success'>open</span>.  Registration prices increase by $25 on <span class='alert-error'>May 19</span>.</p>

  <p>The deadline to submit abstracts for posters is <span class='alert-error'><strike>April 29 at 5 PM</strike></span> <span class='alert-error'>May 3 at 5 PM</span>.</p>

  <div id="buttons">
    <%= link_to 'Register Now', register_url, :class => 'btn btn-large btn-success', :id => :register %>
    <%= link_to Time.now < abstract_deadline ? 'Submit Your Abstract' : 'Edit Your Abstract', new_attendee_session_url, :class => 'btn btn-large btn-success' %>
  </div>
  
  <hr />
  
  <%- unless @announcements.empty? -%>
    <section id='announcements'>
      <h2>Announcements</h2>
      <%= @announcements.empty? ? content_tag(:h3, "No announcements yet.", :class => :alert) : render('announcements') %>
    </section>

    <hr />
  <%- end -%>
  
  <p><em>The 14th Annual UC System-wide Bioengineering Symposium is committed to ensuring an inclusive environment and diverse body of students, academic researchers and faculty participating in the event. The University of California is an Equal Opportunity/Affirmative Action Employer with a strong institutional commitment to excellence through diversity.</em></p>
</section>